@{
    ViewData["Title"] = "Home Page";
}

<form method="get" action="/home/vistaarea">
    <input type="number" name="lado"/>
    <input type="submit" name="resultado" value="resultado"/>   
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
