@{
    ViewData["Title"] = "Home Page";
}

<form action="/home/calculadora" method="post">
    <label> Ingrese Primer Número</label>
    <input type="text" name="primerNumero" />
    <label> Ingrese Primer Número</label>
    <input type="text" name="segundoNumero" />
    <input type="submit" name="calcular" value="calcular" />
</form>
